extends layout

block content
  .color.color1
  .color.color2
  .wrapper
    .blog.onRight.gone
      a(href='/blog')
        p To blog #[i.fa.fa-arrow-right]
    .businessCard(itemscope itemtype='http://schema.org/Person')
      .nav
        h1.name Hi. I'm #[span(itemprop='name') Peter French].
        .buttons
          .spacer
          a#about.tooltip
            i.fa.fa-home.fa-2x(aria-hidden=true)
            span.tooltiptext About
          a#experience.tooltip
            i.fa.fa-paper-plane-o.fa-2x(aria-hidden=true)
            span.tooltiptext Experience
          a#projects.tooltip
            i.fa.fa-flask.fa-2x(aria-hidden=true)
            span.tooltiptext Projects
          a#contact.tooltip
            i.fa.fa-comment-o.fa-2x(aria-hidden=true)
            span.tooltiptext Contact
          .spacer
      .back
        img.picture(src='/documents/photo.png')
        ul.info
          li #[i.fa.fa-envelope(aria-hidden=true)] : #[a(href='mailto:peter@fwren.ch' itemprop='email') peter@fwren.ch]
          li #[i.fa.fa-phone(aria-hidden=true)] : #[a(href='tel:512-221-0375' itemprop='telephone') (512)221-0375]
        .social
          a#facebook(href='https://www.facebook.com/peter.french.969' target='_blank')
            i.fa.fa-facebook.fa-lg(aria-hidden=true)
          a#linkedin(href='https://www.linkedin.com/in/peter-french-a04a31128/' target='_blank')
            i.fa.fa-linkedin.fa-lg(aria-hidden=true)
          a#github(href='https://github.com/PFwrench' target='_blank')
            i.fa.fa-github.fa-lg(aria-hidden=true)
        .back-button
          a(href='#')
            i.fa.fa-undo.fa-lg(aria-hidden=true)
    .footer
      .copyright
        p #[i.fa.fa-copyright(aria-hidden=true)] Peter French 2017
  .card.card-1.gone
    .exit
      i.fa.fa-times-circle.fa-2x(aria-hidden=true)
    .substance
      include about.pug
    .spacer
  .card.card-2.gone
    .exit
      i.fa.fa-times-circle.fa-2x(aria-hidden=true)
    .substance
      include experience.pug
    .spacer
  .card.card-3.gone
    .exit
      i.fa.fa-times-circle.fa-2x(aria-hidden=true)
    .substance
      include projects.pug
    .spacer
