extends layout

block content
  .wrapper.postPage
    .blog.onMiddle.gone.postPage
      a(href='#')
        p To posts #[i.fa.fa-arrow-up]
    .titleCard
      .title
        h1.title-text= title
        p.title-date= dateString
      .details
        p.description= description
    .postContent.markdown-body!= post
    .footer.postPage
      .copyright
        p #[i.fa.fa-copyright(aria-hidden=true)] Peter French 2017
