extends layout

block content
  .wrapper.postPage(itemscope itemtype='http://schema.org/BlogPosting') 
    .color.color1
    .color.color2
    .color.color3   
    .blog.onMiddle.gone
      a(href='/blog')
        p To posts #[i.fa.fa-arrow-up]
    .contentCards
      .titleCard
        .title
          h1.title-text(itemprop='headline')= title
          p.title-date
            time(itemprop='datePublished', datetime= year+'-'+month+'-'+day)= date
        .line
        .details
          p.description(itemprop='description')= description
        span(itemprop='author') Peter French
      .postContent.markdown-body(itemprop='articleBody')!= post
      .share
        .shareText
          h3 Share
        .shareButtons
          a.sharebutton.shareFB#facebook(href="//www.facebook.com/sharer/sharer.php?u=http%3A//fwren.ch" + path, target="_blank")
            i.fa.fa-facebook.fa-lg(aria-hidden=true)
          a.sharebutton.shareTwitter#twitter(href="//twitter.com/home?status=http%3A//fwren.ch" + path, target="_blank")
            i.fa.fa-twitter.fa-lg(aria-hidden=true)
          a.sharebutton.shareLinkedIn#linkedin(href="//www.linkedin.com/shareArticle?mini=true&url=http%3A//fwren.ch/ " + path + "&title=" + title + "&summary=" + description + "&source=", target="_blank")
            i.fa.fa-linkedin.fa-lg(aria-hidden=true)
          a.sharebutton.shareReddit#reddit(href="//www.reddit.com/submit", onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false", target="_blank")
            i.fa.fa-reddit-alien.fa-lg(aria-hidden=true)
          a.sharebutton.shareLink#link.tooltip(data-clipboard-text="http://fwren.ch" + path)
            i.fa.fa-link.fa-lg(aria-hidden=true)
            span.tooltiptext Copy link
            span.successBubble Success
            span.errorBubble Error :/
        .shareAuthor
          a.aboutAuthor.tooltip(href="/")
              img.picture.small(src='/documents/photo.png' itemprop='image')
              span.tooltiptext About Me
    .footer
      .copyright(itemprop='publisher' itemscope itemtype='http://schema.org/Organization')
        meta(itemprop='logo' content='/documents/icon.png')
        p #[i.fa.fa-copyright(aria-hidden=true)] #[span(itemprop='name') Peter French] 2017
